body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: 'Commissioner', sans-serif;
}

body p {
  color: #7a7a7a;
}

header {
  width: 100%;
  height: 43vh;
  position: relative;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  padding-top: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
  header .nav {
    width: 90%;
    padding-top: 30px;
  }
}

header::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: url(../img/image-hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

@media only screen and (max-width: 1000px) {
  header::before {
    background: url(../img/image-hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

header::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  background: linear-gradient(black, transparent);
  z-index: -2;
  opacity: 0.5;
}

header .logo img {
  width: 120%;
}

@media only screen and (min-width: 1000px) {
  header .hamburger {
    display: none;
  }
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1rem;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

@media only screen and (max-width: 1000px) {
  header .navbar {
    display: none;
  }
}

header .navbar li {
  list-style: none;
}

header .navbar a {
  text-decoration: none;
  color: white;
}

header .navbar a:hover {
  color: #c9c6c6;
}

header .menubox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  background: white;
  width: 90%;
  margin-top: 30px;
  height: 68%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

header .menubox li {
  list-style: none;
}

header .menubox a {
  font-size: 19px;
  text-decoration: none;
  color: black;
  padding-left: 15px;
}

header .menubox hr {
  margin: 0px;
  padding: 0px;
  width: 99%;
}

.overlay ::before {
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  background: linear-gradient(black, transparent);
  z-index: 1;
  opacity: 0.3;
}

.hasfade {
  visibility: hidden;
}

.mbmr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  max-width: 900px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 0px 2.5px #eeecec;
          box-shadow: 0px 0px 0px 2.5px #eeecec;
  -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
  background: white;
  border-radius: 8px;
  position: relative;
}

.mbmr p {
  padding: 15px;
}

@media only screen and (max-width: 1000px) {
  .mbmr {
    width: 90%;
    margin-bottom: 30px;
  }
}

.mbmr #cmplogo {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.mbmr .btnbmrk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 40px 0px;
}

.mbmr #bkmrk {
  color: #7a7a7a;
  display: inline-block;
  background: #e6e5e5;
  border-radius: 50px;
}

.mbmr #bkmrk h3 {
  padding: 0px 18px;
}

@media only screen and (max-width: 600px) {
  .mbmr #bkmrk h3 {
    display: none;
  }
}

.mbmr #bkmrk:hover {
  opacity: 0.7;
}

#btn a {
  text-decoration: none;
  color: white;
  background-color: #3cb4ac;
  border-radius: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  padding: 16.5px 48px;
}

#btn a:hover {
  background-color: #147b74;
}

@media only screen and (max-width: 600px) {
  #btn a {
    padding: 18px 20px;
  }
}

@media only screen and (max-width: 310px) {
  #btn a {
    padding: 18px 10px;
  }
}

p {
  padding: 0px;
  margin: 0px;
}

h1 {
  padding: 0px;
  margin: 0px;
}

h2 {
  padding: 0px;
  margin: 0px;
}

h3 {
  padding: 0px;
  margin: 0px;
}

h4 {
  padding: 0px;
  margin: 0px;
}

.proback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 900px;
  text-align: center;
  margin: auto;
  -webkit-box-shadow: 0px 0px 0px 2.5px #eeecec;
          box-shadow: 0px 0px 0px 2.5px #eeecec;
  border-radius: 8px;
  padding: 40px 20px;
  -webkit-transform: translateY(-8vh);
          transform: translateY(-8vh);
}

@media only screen and (max-width: 1000px) {
  .proback {
    width: 90%;
    margin-bottom: 30px;
  }
}

.proback .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .proback .numbers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .proback .numbers hr {
    width: 15%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.proback .item {
  margin: auto;
}

.proback .item p {
  color: #7a7a7a;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 900px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  -webkit-box-shadow: 0px 0px 0px 2.5px #eeecec;
          box-shadow: 0px 0px 0px 2.5px #eeecec;
  border-radius: 8px;
  position: relative;
  -webkit-transform: translateY(-6vh);
          transform: translateY(-6vh);
  background: white;
  padding: 30px 40px;
}

.about p {
  line-height: 28px;
  color: #7a7a7a;
}

.about #abthead {
  padding: 35px 0px;
  font-weight: 1000;
}

@media only screen and (max-width: 1000px) {
  .about #abthead {
    font-size: 28px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.about #headp {
  padding-top: 30px;
}

@media only screen and (max-width: 1000px) {
  .about {
    width: 90%;
    -webkit-transform: translateY(-6vh);
            transform: translateY(-6vh);
    padding: 15px;
  }
}

.about .bs {
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  padding: 0px 20px;
  margin-top: 40px;
}

@media only screen and (max-width: 1000px) {
  .about .bs {
    padding: 15px;
  }
}

.about .bs .bshead {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  font-weight: 1000;
}

.about .bs .bshead #cyan {
  color: #3cb4ac;
}

.about .bs .bshead h1 {
  font-size: 23px;
}

@media only screen and (max-width: 1000px) {
  .about .bs .bshead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about .bs .last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}

@media only screen and (max-width: 1000px) {
  .about .bs .last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.about .bs .last button {
  color: white;
  background-color: #3cb4ac;
  border-radius: 50px;
  width: 180px;
  border-style: none;
  font-size: 15px;
  font-weight: bold;
  margin-right: 5PX;
  height: 47px;
  position: relative;
}

.about .bs .last button:hover {
  background-color: #147b74;
}

.about .bs .last #handp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .bs .last #handp h1 {
  padding: 5px;
}

.about #ofs {
  opacity: 0.5;
}

.about #ofs button {
  background-color: #7a7a7a;
}

.about #cyan {
  font-size: 105%;
}

.backmenu {
  position: absolute;
  background: white;
  top: 30vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 6;
}

.backmenu .backhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.backmenu .backhead h1 {
  padding: 10px;
}

.backmenu a {
  display: block;
  -webkit-filter: invert(60%);
          filter: invert(60%);
}

.backmenu a:hover {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.backmenu button {
  height: 24px;
  width: 24px;
  -webkit-clip-path: circle(10px);
          clip-path: circle(10px);
}

.overlay2 ::before {
  content: "";
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(black));
  background: linear-gradient(black);
  z-index: 3;
  opacity: 0.1;
  height: 100vh;
}

@media only screen and (max-width: 1000px) {
  .overlay2 ::before {
    opacity: 0.2;
  }
}

.thanks {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  max-width: 700px;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 0px 2.5px #eeecec;
          box-shadow: 0px 0px 0px 2.5px #eeecec;
  background: white;
  border-radius: 8px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.thanks h1 {
  padding-top: 40px;
  padding-bottom: 15px;
}

.thanks p {
  padding-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
  .thanks {
    width: 90%;
    margin-bottom: 30px;
    padding: 10px;
  }
}

.thanks button {
  color: white;
  background-color: #3cb4ac;
  border-radius: 50px;
  border-style: none;
  padding: 13px 25px;
}

.thanks button:hover {
  background-color: #147b74;
}

.noscroll {
  position: fixed;
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */